@media (min-width: 624px) {
  html {
    font-size: 9px;
  }
}

@media (min-width: 702px) {
  html {
    font-size: 10px;
  }
}
@media (max-width: 623px) {
  html {
    font-size: 8px;
  }
}
@media (min-width: 702px) {
  html {
    font-size: 10px;
  }
}
@media (min-width: 780px) {
  html {
    font-size: 11px;
  }
}
@media (min-width: 858px) {
  html {
    font-size: 12px;
  }
}

@media (min-width: 950px) {
  html {
    font-size: 14px;
  }
}
@media (min-width: 1079px) {
  html {
    font-size: 16px;
  }
}


* {
  box-sizing: border-box;
}

body {
  padding: 0px;
  background-color: white;
  color: black;
  display: table;
  margin-left: 0%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  
  line-height: 1.42857143;
  color: #333;
}

.dark-mode {
  background-color: black;
  color: white;
}

.row {

  display: flex;
}

/* Create two equal columns that sits next to each other */
.column {

  width: 45vw;
  position: flex;
  padding: 5px;
}

.column2 {
  position: sticky;
  width: 25vw;
  padding: 5px;
}

#row2 {
  display: 40%;
  position: sticky;
  top: 20px;
  align-self: right;
  align-items: flex-start;

}

#whole {
    padding-top: 6vh;
  position: flex;
  align-items: flex-start;
}

#stats{
  
  
  border-radius: 6px;
  font-weight: bold;
  padding: 6px;
  
}

#map {
  width: 25vw;
  height: 70vh;

  top: 0;
  transition: 0.4s;

  display: inline-block;

  padding: 4px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;




}

#idselectlabel {
  width: 20vw;
  
  border-radius: 6px;
  font-weight: bold;
  padding: 6px;
}

/* error log */
#switch {
  width: 25vw;
  
  border-radius: 6px;
  font-weight: bold;
  padding: 6px;
  cursor: pointer;
}

#NAVerror {
  padding: 4px
}

#panel {
  display: none;
}

/* list id*/

#UList {
  padding: 4px;
  width: 20vw;
}

nav ul {
  height: 70vh;
  width: 20vw;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: sticky;
  top: 0;


  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  overflow: hidden;
  overflow-y: scroll;
  box-sizing: border-box;

}

#logo{
  max-width:6%;
    max-height:6%;
    width:auto;
    height:auto;
}
#BMEL{
  max-width:6%;
    max-height:4%;
    width:auto;
    height:auto;
}


option {
  cursor: pointer;
  padding: 10px 15px;
  margin-bottom: -1px;
  text-align: center;
  padding: 4px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-top-color: rgb(221, 221, 221);
  border-right-color: rgb(221, 221, 221);
  border-bottom-color: rgb(221, 221, 221);
  border-left-color: rgb(221, 221, 221);
  border-radius: 4px;
  font-weight: bold;
}

li {
  cursor: default;
  text-align: center;
  font-weight: normal;
}

g {
  padding: 10px 15px;
  margin-bottom: -1px;
  text-align: center;
  padding: 4px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-top-color: rgb(221, 221, 221);
  border-right-color: rgb(221, 221, 221);
  border-bottom-color: rgb(221, 221, 221);
  border-left-color: rgb(221, 221, 221);
  border-radius: 4px;
  font-weight: bold;
}


.selected {
  text-shadow: 0 -1px 0 #286090;
  background-image: linear-gradient(to bottom, #337ab7 0, #2b669a 100%);
  background-repeat: repeat-x;
  border-color: #2b669a;
  background: dodgerblue;
  color: white;
}

/* list id  end*/



/* navbar */

/* Create a sticky/fixed navbar */
#navbar {
  overflow: hidden;
  background-color: #f1f1f1;

  /* Large padding which will shrink on scroll (using JS) */
  transition: 0.4s;
  /* Adds a transition effect when the padding is decreased */
  position: fixed;
  /* Sticky/fixed navbar */
  width: 100%;

  top: 0;
  /* At the top */
  z-index: 99;
}

/* Style the navbar links */
#navbar a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

/* Style the logo */
#navbar #logo {
  
  font-weight: bold;
  transition: 0.4s;

}

#darkmode {
  cursor: pointer;
}

/* Links on mouse-over */
#navbar a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the active/current link */
#navbar a.active {
  background-color: dodgerblue;
  color: white;
}

/* Display some links to the right */
#navbar-right {
  float: right;
  height: 0%;
}

/* Add responsiveness - on screens less than 580px wide, display the navbar vertically instead of horizontally */
@media screen and (max-width: 580px) {
  #navbar {
    padding: 20px 10px !important;
    /* Use !important to make sure that JavaScript doesn't override the padding on small screens */
  }

  #navbar a {
    float: none;
    display: block;
    text-align: left;
  }

  #navbar-right {
    float: none;
  }
}

/* navbar end */


/* about page */





/* end about */