################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs/HyFiVe/v17/.suo
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
.vs/website/
.vs/
