        #map {
            width: 45vw;
            height: 45vh;
        }

        img {
            width: 45vw;
            height: 45vh;
        }

        * {
            box-sizing: border-box;
        }

        body {
            padding: 25px;
            background-color: white;
            color: black;
            font-size: 25px;
        }

        .dark-mode {
            background-color: black;
            color: white;
        }

        .row {
            display: flex;
        }

        /* Create two equal columns that sits next to each other */
        .column {
            flex: 50%;
            padding: 5px;
        }

        .line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}

.axisSteelBlue text{
  fill: steelblue;
}

.axisRed text{
  fill: red;
}

.axisGreen text{
  fill: green;
}
.axisOrange text{
  fill: orange;
}
.axisBlack text{
  fill: black;
}